.type-1637 .container {
  width: 1250px;
}
.type-1637 .kj .container {
  background-size: cover;
}
.type-1637 .Sub .Subscribe {
  padding-top: 80px;
  text-align: center;
  margin-butom: -50px;
}
.type-1637 .Sub .Subscribe p {
  color: #c0c0c0;
}
.type-1637 h2 {
  color: white;
}
.type-1637 .bor {
  padding-top: 20px;
  overflow: hidden;
}
.type-1637 .bor input {
  border: 1px solid #424242;
  border-radius: 40px;
  height: 50px;
  width: 50%;
  padding: 0 190px 0 20px;
  background: #303031;
  color: white;
  border: none;
}
.type-1637 .bor button {
  border: 1px solid #424242;
  border-radius: 40px;
  height: 50px;
  width: 10%;
  padding-left: -50px;
  background: green;
  color: white;
  display: inline-block;
  margin-left: -100px;
  font-weight: 900;
}
.type-1637 .bor button:hover {
  background: #303031;
  font-weight: 500;
}
.type-1637 .cort {
  margin-top: 50px;
  border: 1px solid grey;
  margin-bottom: 50px;
}
.type-1637 .About a {
  text-decoration: none;
  color: #7b7b7b;
}
.type-1637 .About h4 {
  font-weight: 900;
  color: white;
}
.type-1637 .About p {
  color: #c0c0c0;
}
.type-1637 .About i {
  color: white;
}
.type-1637 .Products h4 {
  font-weight: 900;
  color: white;
}
.type-1637 .Products p {
  font-weight: 600;
  color: white;
}
.type-1637 .Products p:hover {
  color: green;
}
.type-1637 .Our h4 {
  font-weight: 900;
  color: white;
}
.type-1637 .Our p {
  font-weight: 600;
  color: white;
}
.type-1637 .Our p:hover {
  color: green;
}
.type-1637 .Instagram h4 {
  font-weight: 900;
  color: white;
}
.type-1637 .Instagram p {
  padding-top: 10px;
  font-weight: 600;
  color: white;
}
.type-1637 .Instagram p:hover {
  color: green;
}
.type-1637 .Instagram img {
  width: 100px;
  height: 100px;
  padding: 5px 0;
}
.type-1637 .Instagram img:hover {
  -webkit-transition: all 0.7s ease;
  -transiton: all 0.7s ease;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  color: grey;
}
.type-1637 .Instagram p {
  color: white;
}
.type-1637 .cart {
  border-bottom: 1px solid gray;
  padding-top: 20px;
}
.type-1637 .footer1 {
  padding-top: 50px;
}
.type-1637 .footer1 p {
  color: #c0c0c0;
}
.type-1637 .footer1 .col-md-4 i {
  width: 36px;
  height: 36px;
  background: none;
  padding-top: 10px;
  font-size: 14px;
  text-align: center;
  margin: 10px 5px;
  border-radius: 50%;
  color: #999999;
  border: solid 2px #777777;
}
.type-1637 .footer1 .col-md-4 i:hover {
  color: green;
}
.type-1637 .footer1 .back {
  padding-top: 60px;
  position: fixed;
  right: 55px;
  bottom: 25px;
}
.type-1637 .footer1 .back a {
  background: #333;
  color: white;
  width: 50px;
  height: 50px;
  line-height: 40px;
  display: block;
  text-align: center;
  text-decoration: none;
}
.type-1637 .footer1 .back a i {
  border-radius: none;
  border: none;
}
