.type-1636 h1 {
  font-family: UTM Azuki;
  font-size: 56px;
  color: #468a41;
}
.type-1636 .table .dropdown {
  padding-top: 40px;
  list-style-type: none;
  padding-right: 30px;
}
.type-1636 .table .dropdown a {
  text-decoration: none;
  display: block;
  cursor: pointer;
}
.type-1636 .table .dropdown .down {
  list-style-type: none;
  display: none;
}
.type-1636 .table .dropdown a:hover {
  color: green;
}
.type-1636 .table .dropdown li:hover .down {
  display: block;
}
.type-1636 .table h4 {
  color: #468a41;
}
.type-1636 .table .drop {
  cursor: pointer;
}
.type-1636 .table .drop i {
  color: #ded1d1;
  float: right;
}
.pc1 img:hover {
  cursor: pointer;
  opacity: 0.5;
}
.pc1 img {
  width: 100%;
  height: auto;
}
.pc1 #sp0 {
  text-align: center;
  padding: 5px;
  border: 1px solid #ded1d1;
}
.pc1 #sp1 {
  text-align: center;
  padding: 5px;
  border: 1px solid #ded1d1;
  border-top: none;
}
.pc1 h3 {
  color: green;
}
.pc2 img {
  width: 100%;
  height: auto;
}
.pc2 img:hover {
  cursor: pointer;
  opacity: 0.5;
}
.pc2 #sp2 {
  text-align: center;
  padding: 5px;
  border: 1px solid #ded1d1;
  border-left: none;
}
.pc2 h3 {
  color: green;
}
.pc3 img {
  width: 100%;
  height: auto;
}
.pc3 img:hover {
  cursor: pointer;
  opacity: 0.5;
}
.pc3 #sp3 {
  text-align: center;
  padding: 5px;
  border: 1px solid #ded1d1;
  border-left: none;
}
.pc3 h3 {
  color: green;
}
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.pc a:hover {
  text-decoration: none;
  color: green;
}
@media (max-width: 1200px) {
  #anh {
    display: none;
  }
}
#sort {
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
}
#size {
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
}
#color {
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
}
#Compositions {
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
}
