.type-1635 .viewmode {
  margin-top: 50px;
}
.type-1635 .container {
  width: 1250px;
}
.type-1635 .shop {
  text-align: center;
  padding-bottom: 80px;
  padding-top: 20px;
  background-color: #f9f9f9;
}
.type-1635 .shop h1 {
  font-size: 52px;
  color: #000000;
  font-family: UTM Androgyne;
}
.type-1635 .shop div {
  font-size: 15px;
  padding-top: 10px;
  color: #c2baba;
}
.type-1635 .shop div a {
  color: #c2baba;
}
.type-1635 .shop div a:hover {
  color: #ff8969;
}
.type-1635 .shop span:before {
  content: "/";
}
.type-1635 .shop-action-inner {
  color: #686868;
  margin-bottom: 30px;
  padding-bottom: 8px;
  border-bottom: 1px solid #ececec;
}
.type-1635 .fa-lg {
  color: #000;
  padding-left: 10px;
  font-size: 1.5em;
  line-height: 1em;
  vertical-align: -15%;
}
.type-1635 .fa-th-list {
  color: #777777;
}
.type-1635 .action-right form {
  float: left;
  margin-right: 35px;
  font-size: 14px;
}
.type-1635 .action-right select {
  color: black;
  display: inline-block;
  border: none;
  border-bottom: 1px solid #ebebeb;
  width: auto;
  background-position: 100% 40%;
  padding-left: 2px;
  padding-right: 20px;
  padding-bottom: 4px;
  height: auto;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
  vertical-align: middle;
}
.viewmode {
  padding-left: 150px;
  float: left;
}
.action-right {
  float: right;
  padding-right: 150px;
}
