
@padding-bottom:12px;

.type-1636{
   /*home*/
.home{
	padding-top: 30px;
}

.cort{
	border-bottom: 1px solid gray;
	padding-top: 20px;
}
pre{
	background: none;
	border: none;
}
pre:hover{
    color: #468a41;
}
h1{
    font-family: UTM Azuki;
    font-size: 56px;
    color: #468a41;
}
/*end*/
/*Vegetable1*/
.table{
    .dropdown
    {
        list-style-type: none;

        a{
            text-decoration: none;
            display: block;
        }
        .down
        {
            list-style-type: none;
            display: none;
        }
        a:hover
        {
            color: green;
        }
        li:hover .down
        {
            display: block;
        }
    }


    h4{
	color: #468a41;
    }
    .drop {
        cursor: pointer;
        i{
	   color: black;
        float: right;
        
        }
    }
    .col-md-3{
	float: left;
    }
    .NT{
	padding-top: 60px;
        a{
            i{
	border: 1px solid green;
	padding:10px 10px;
	color: green;
            }
        }

    }
    
    
}
.col-md-1{
    .TD{
        a{
        padding: 0 20px;
	opacity: 0.5;
            i{
                margin-top: 60px;
                border: 1px solid grey;
                padding:10px 10px;
                color: grey;
             }
            i:hover{
                opacity: 1;
                cursor: pointer;
                color: green;
                border: 1px solid green;
                }
        }
    }
}
.col-md-6{
    width: 75%;
    .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 1rem;
    color: #878787;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0;
    
    }
  
    .dropdown-menu {
    //display: block;
}
}
/*end*/
/*Sort*/
.there{
	padding-top: 60px;
	float: left;
}
.sort{
	padding-top: 60px;
	float: left;
        p{
	padding: 0 50px;
        }
        
}
.sel {
	text-decoration: none;
	padding-top: 60px;
	float: left;
        .caret{
            margin-left: 250px;
        }
        .nav{
        padding: 5px;
	padding: -20px 300px;
	border: 1px solid grey;
        a{
	text-decoration: none;
	color: grey;
            }
        
        }
}

/*end*/
/*vegetable2*/
/*clo9*/
.veg{
    .col-md-9 {
	float: left;
    }
    .col-md-9 h2{
	color: black;
    }
    .col-md-6 p{
	padding-top: -50px;
    }
    .col-md-3 .pc h5:hover{
	color: green;
    }
    h5{
	font-family: myfont;
    }
    .col-md-3 .pc h5{
	padding:0 40px;
	color: grey;
    }
    .col-md-3 .pc a{
	text-decoration: none;

    }
} 
.round{
	background: grey;
	border-radius: 50%;
	height: 12px;
	width: 12px;
	float: left;
        i{
	padding:0 20px;
        color: grey;
        }
}

.square{
	background: white;
	border: 1px solid grey;
	height: 13px;
	width: 13px;
	float: left;
}
.coloredsquare1{
	background: green;
	border: 1px solid green;
	height: 13px;
	width: 13px;
	float: left;
}
.coloredsquare2{
	background: yellow;
	border: 1px solid yellow;
	height: 13px;
	width: 13px;
	float: left;
}
.lastsquare{
	background: white;
	border: 1px solid grey;
	height: 13px;
	width: 13px;
	float: left;
}

.form{
	border: 2px solid grey;
    height: 70px;
	background: white;
    line-height: 70px;
    padding-left: 30px;
    opacity: 0.8;
}

.veg{
    .col-md-3 {
        button{
            background: #cbcbcb;
        }
        button:hover{
	background: #ba9f74;

        }
        .pc1{
            .new {
            position: absolute;
            top: 40px!important;
            overflow: hidden;
            text-align: center;
            z-index: 1;
            text-transform: uppercase;
            width: 45px;
            
            span:hover{
               ursor: pointer;
               opacity: 0.5; 
            }
            span{
                border-radius: 100%;
                color: #fff;
                padding-top: 15px;
                background: #6c8e01;
                height: 50px;
                /* width: 60px; */
                display: block;
                /* color: red; */
            }
        }
        //new 1
        .new1 {
            position: absolute;
            //top: 40px!important;
            overflow: hidden;
            text-align: center;
            z-index: 1;
            text-transform: uppercase;
            width: 45px;
            
            span:hover{
               ursor: pointer;
               opacity: 0.5; 
            }
            span{
                border-radius: 100%;
                color: #fff;
                padding-top: 15px;
                background: #6c8e01;
                height: 50px;
                /* width: 60px; */
                display: block;
                /* color: red; */
            }
        }
        //20%
        .discount {
                margin-left: 200px;
            position: absolute;
            //top: 40px!important;
            overflow: hidden;
            text-align: center;
            z-index: 1;
            text-transform: uppercase;
            width: 45px;
            
            span:hover{
               ursor: pointer;
               opacity: 0.5; 
            }
            span{
                border-radius: 100%;
                color: #fff;
                padding-top: 15px;
                background: #f68803;
                height: 50px;
                /* width: 60px; */
                display: block;
                /* color: red; */
            }
        }
        //new2
        .new2 {
            position: absolute;
            //top: 40px!important;
            overflow: hidden;
            text-align: center;
            z-index: 1;
            text-transform: uppercase;
            width: 45px;
            
            span:hover{
               ursor: pointer;
               opacity: 0.5; 
            }
            span{
                border-radius: 100%;
                color: #fff;
                padding-top: 15px;
                background: #6c8e01;
                height: 50px;
                /* width: 60px; */
                display: block;
                /* color: red; */
            }
        }
        //neư3
        .new3 {
            position: absolute;
            //top: 40px!important;
            overflow: hidden;
            text-align: center;
            z-index: 1;
            text-transform: uppercase;
            width: 45px;
            
            span:hover{
               ursor: pointer;
               opacity: 0.5; 
            }
            span{
                border-radius: 100%;
                color: #fff;
                padding-top: 15px;
                background: #6c8e01;
                height: 50px;
                /* width: 60px; */
                display: block;
                /* color: red; */
            }
        }
            h4{
               text-align: center;
               font-family: UTM Cookies;
            }
            h3{
                text-align: center;
                color: #6c8e01;
                
                del{
                    font-size: 15px;
                    color: grey;
                }
            }
            h5{
               
                font-family: UTM Cookies;
                font-size: 18px;
                padding-left: 30px;
            }
            img:hover{
            cursor: pointer;
            opacity: 0.5;
            }
        }
        .pc2{
            .new {
            position: absolute;
            top: 40px!important;
            overflow: hidden;
            text-align: center;
            z-index: 1;
            text-transform: uppercase;
            width: 45px;
            
            span:hover{
               ursor: pointer;
               opacity: 0.5; 
            }
            span{
                border-radius: 100%;
                color: #fff;
                padding-top: 15px;
                background: #6c8e01;
                height: 50px;
                /* width: 60px; */
                display: block;
                /* color: red; */
            }
        }
        //new 1
        .new1 {
            position: absolute;
            //top: 40px!important;
            overflow: hidden;
            text-align: center;
            z-index: 1;
            text-transform: uppercase;
            width: 45px;
            
            span:hover{
               ursor: pointer;
               opacity: 0.5; 
            }
            span{
                border-radius: 100%;
                color: #fff;
                padding-top: 15px;
                background: #6c8e01;
                height: 50px;
                /* width: 60px; */
                display: block;
                /* color: red; */
            }
        }
        //new2
        .new2 {
            position: absolute;
            //top: 40px!important;
            overflow: hidden;
            text-align: center;
            z-index: 1;
            text-transform: uppercase;
            width: 45px;
            
            span:hover{
               ursor: pointer;
               opacity: 0.5; 
            }
            span{
                border-radius: 100%;
                color: #fff;
                padding-top: 15px;
                background: #6c8e01;
                height: 50px;
                /* width: 60px; */
                display: block;
                /* color: red; */
            }
        }
        //neư3
        .new3 {
            position: absolute;
            //top: 40px!important;
            overflow: hidden;
            text-align: center;
            z-index: 1;
            text-transform: uppercase;
            width: 45px;
            
            span:hover{
               ursor: pointer;
               opacity: 0.5; 
            }
            span{
                border-radius: 100%;
                color: #fff;
                padding-top: 15px;
                background: #6c8e01;
                height: 50px;
                /* width: 60px; */
                display: block;
                /* color: red; */
            }
        }
            h4{
                font-family: UTM Cookies;
                text-align: center;
            }
            h5{
                font-family: UTM Cookies;
                font-size: 18px;
                padding-left: 30px;
            } 
            h3{
                color: #6c8e01;
               text-align: center;
                del{
                    font-size: 15px;
                    color: grey;
                }
                
            }
            img:hover{
            cursor: pointer;
            opacity: 0.5;
            }
            
        }
        .pc3{
            .new {
            position: absolute;
            top: 40px!important;
            overflow: hidden;
            text-align: center;
            z-index: 1;
            text-transform: uppercase;
            width: 45px;
            
            span:hover{
               ursor: pointer;
               opacity: 0.5; 
            }
            span{
                border-radius: 100%;
                color: #fff;
                padding-top: 15px;
                background: #6c8e01;
                height: 50px;
                /* width: 60px; */
                display: block;
                /* color: red; */
            }
        }
         //new 1
        .new1 {
            position: absolute;
            //top: 40px!important;
            overflow: hidden;
            text-align: center;
            z-index: 1;
            text-transform: uppercase;
            width: 45px;
            
            span:hover{
               ursor: pointer;
               opacity: 0.5; 
            }
            span{
                border-radius: 100%;
                color: #fff;
                padding-top: 15px;
                background: #6c8e01;
                height: 50px;
                /* width: 60px; */
                display: block;
                /* color: red; */
            }
        }
        //new2
        .new2 {
            position: absolute;
            //top: 40px!important;
            overflow: hidden;
            text-align: center;
            z-index: 1;
            text-transform: uppercase;
            width: 45px;
            
            span:hover{
               ursor: pointer;
               opacity: 0.5; 
            }
            span{
                border-radius: 100%;
                color: #fff;
                padding-top: 15px;
                background: #6c8e01;
                height: 50px;
                /* width: 60px; */
                display: block;
                /* color: red; */
            }
        }
        //neư3
        .new3 {
            position: absolute;
            //top: 40px!important;
            overflow: hidden;
            text-align: center;
            z-index: 1;
            text-transform: uppercase;
            width: 45px;
            
            span:hover{
               ursor: pointer;
               opacity: 0.5; 
            }
            span{
                border-radius: 100%;
                color: #fff;
                padding-top: 15px;
                background: #6c8e01;
                height: 50px;
                /* width: 60px; */
                display: block;
                /* color: red; */
            }
        }
            h4{
                text-align: center;
                font-family: UTM Cookies;
            }
             h3{
                 color: #6c8e01;
                text-align: center;
                
            }
            img:hover{
            cursor: pointer;
            opacity: 0.5;
            }
            
        }
    }
}
/*show*/
.show {
    border: 1px solid #ebebeb;
	padding-top: 40px;
        .col-md-4{
	padding-left: 130px;
        }
        .col-md-2{
            h5{
                padding-left: 100px;
                font-size: 18px;
            }
            h5:hover{
            color: green;
            }
            h4:hover{
            color: green;
            }
        }
    } 
}
.btndrop
{
    background: none;
}